.avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 8px;

}
.avatarWithBorder {
    height: calc(3rem + 12px);
    width: calc(3rem + 12px);
    border-radius: 8px;

    border: 2px solid var(--gray-800);
    outline: 2px solid var(--green-500);

}